<center>
  <h1>
    Bit Proxima CodeJam 2017 <br>
    <small>
      <a href="competitions/1"> Go to problems </a> |
      <%= link_to "Leader board", leaderboard_path %>
    </small>
  </h1>
</center>

<% if logged_in? && is_admin? %>
  <a href="users">users</a>
<% end %>

