<h1> HomePage </h1>
<% if logged_in? %>
  <h3> Welcome <%= cookies[:user_tag]  %> </h3>
  <h3> is admin : <%= is_admin? %> </h3>
<% else %>
  <a href="signup">signup</a>
<% end %>

<% if logged_in? && is_admin? %>
  <a href="users">users</a>
<% end %>

<% if logged_in? %>
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <a href="login">Log in</a>
<% end %>

<h3> Go to problems </h3>
