<center>
  <div id="footer" class="footer navbar-fixed-bottom">
    <strong> Powered By </strong>
    <small>
      Ruby on Rails | Postgresql | Nginx | Purecss.io | Sass
    </small>
  </div>
</center>
